<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBi6zlkJ0_gyyOLCayCBOrgiEO8ZYB3daw</string>
	<key>GCM_SENDER_ID</key>
	<string>455263387830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rescale.dalvi</string>
	<key>PROJECT_ID</key>
	<string>mango-app-phone-validation</string>
	<key>STORAGE_BUCKET</key>
	<string>mango-app-phone-validation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455263387830:ios:31d1fe52a9e13717f22617</string>
</dict>
</plist>