<!DOCTYPE html>
    <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>OTP</title>
          <style>
          body {
              font-family: Arial, sans-serif;
              line-height: 1.6;
          }
  
          .container {
              max-width: 600px;
              margin: 0 auto;
              padding: 20px;
              border: 1px solid #ccc;
              border-radius: 5px;
          }
          </style>
      </head>
      <body>
      <div class="container">
          <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
              <h2>OTP Verification</h2>
              <p>Dear {{user.name}}, </p><p>Your OTP is: <strong>{{user.otp.[0]}}</strong></p>
      
              <p>Best regards,<br>
              Dalvi Farms</p>
          </div>
          </div>
      </body>
      </html>